.app-loading-spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    i,
    span {
        font-size: 1.1em;
    }
}

button[loading] {
    position: relative;
    min-height: 2.4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
