.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
