@use '../abstracts' as *;

.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}

@for $i from 1 through 5 {
  .m-#{$i} {
    margin: $i * $spacing-unit;
  }
  .p-#{$i} {
    padding: $i * $spacing-unit;
  }
}
