<div>
    <p-table
        [value]="_dataTableConfig.loading() ? skeletonRows : _dataTableConfig.rows()"
        [(selection)]="selectedItems"
        [dataKey]="_dataTableConfig.dataKey()"
        [pt]="pt"
        [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true"
    >
        <ng-template #header>
            <tr>
                @if (_dataTableConfig.isSelectable()) {
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                } @for (column of _dataTableConfig.columns(); track
                column.field) {
                <th
                    class="text-center"
                    style="white-space: nowrap"
                >
                    {{ column.header }}
                </th>
                } @if (_dataTableConfig.actions().length > 0) {
                <th
                    class="text-center"
                    pFrozenColumn
                    alignFrozen="right"
                ></th>
                }
            </tr>
        </ng-template>
        <ng-template
            #body
            let-data
            let-rowIndex="rowIndex"
        >
            @if (_dataTableConfig.loading()) {
            <tr>
                @if (_dataTableConfig.isSelectable()) {
                <td><p-skeleton /></td>
                } @for (column of _dataTableConfig.columns(); track
                column.field) {
                <td><p-skeleton /></td>
                } @if (_dataTableConfig.actions().length > 0) {
                <td
                    pFrozenColumn
                    alignFrozen="right"
                >
                    <p-skeleton />
                </td>
                }
            </tr>
            } @else {
            <tr [class]="rowIndex % 2 === 0 ? 'row-even' : 'row-odd'">
                @if (_dataTableConfig.isSelectable()) {
                <td>
                    <p-tableCheckbox [value]="data" />
                </td>
                } @for (column of _dataTableConfig.columns(); track
                column.field) {
                <td>
                    @switch (column.type) { @case (_tableColumnType.ID) {
                    <app-id-cell
                        [field]="resolveFieldData(data, column.field)"
                    />
                    } @case (_tableColumnType.TEXT) {
                    <app-text-cell
                        [field]="resolveFieldData(data, column.field)"
                        [classes]="column.classes || ''"
                        [suffix]="column.suffix || ''"
                    />
                    } @case (_tableColumnType.DATE) {
                    <app-text-cell
                        [field]="
                      (resolveFieldData(data, column.field)
                        | date: column.dateFormat || 'MMM d y') || ''
                    "
                        [classes]="column.classes || ''"
                    />
                    } @case (_tableColumnType.USER) {
                    <app-user-cell
                        [name]="resolveFieldData(data, column.field)"
                        [subtitle]="
                      column.subtitleField ? resolveFieldData(data, column.subtitleField) : ''
                    "
                        [image]="column.imageField ? resolveFieldData(data, column.imageField) : ''"
                        [subtitleColor]="column.subtitleColor || ''"
                    />
                    } @case (_tableColumnType.CURRENCY) {
                    <app-text-cell
                        [field]="
                      (resolveFieldData(data, column.field)
                        | currency
                          : column.currencyCode
                          : column.currencyDisplay
                          : column.digitsInfo) || ''
                    "
                        [classes]="column.classes || ''"
                    />
                    } }
                </td>
                } @if (_dataTableConfig.actions().length > 0) {
                <td
                    class="text-center"
                    pFrozenColumn
                    alignFrozen="right"
                >
                    <div class="d-flex justify-content-center gap-2">
                        @for (action of _dataTableConfig.actions(); track
                        action.icon) {
                        <button
                            type="button"
                            [class]="'action-btn ' + (action.classes || '')"
                            (click)="onActionClick($event, action, data)"
                        >
                            <i [class]="action.icon"></i>
                        </button>
                        }
                    </div>
                </td>
                }
            </tr>
            }
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td
                    [attr.colspan]="
            _dataTableConfig.columns().length +
            (_dataTableConfig.isSelectable() ? 1 : 0) +
            (_dataTableConfig.actions().length > 0 ? 1 : 0)
          "
                    class="text-center p-8"
                >
                    <app-empty-state />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
